// 全局主色
$primary-color: #346fff;

// 全局暗黑背景色
$dark-background: #2b2b2b;
$customize-overlay: rgba(43,43,43,0.9);

// 字体颜色
$color-text: #fff;
$color-text-p: #999;
$color-text-d: rgba(255, 255, 255, 0.3);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-ll: rgba(255, 255, 255, 0.8);

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;